<comment>
problem   = Thermally-scaled Papaloizou-Pringle accretion disk with alpha viscosity
configure = --prob=acc_disk_visc --coord=cylindrical
generated = scripts/theory/make_athinput.py

<job>
problem_id = acc_disk_visc  # basename of output filenames

<output1>
file_type  = tab         # output format
variable   = prim        # variables to be output
dt         = 0.00101227  # time increment between outputs
dcycle     = -1          # cycle increment between outputs (-1 = unused)

<time>
cfl_number = 0.4         # Courant, Friedrichs & Lewy number
nlim       = -1          # cycle limit (-1 = unlimited)
tlim       = 0.00101227  # time limit (0.1 orbital periods)
integrator = vl2         # time integration algorithm
xorder     = 2           # order of spatial reconstruction
ncycle_out = 50          # interval for stdout summary info

<mesh>
nx1    = {{ case.refinement_value | int }}           # number of zones in X1-direction
x1min  = 0.35          # minimum value of X1
x1max  = 5.55          # maximum value of X1
x1rat  = 1.0           # ratio of adjacent cell widths in X1
ix1_bc = user          # inner-X1 boundary condition flag
ox1_bc = user          # outer-X1 boundary condition flag

nx2    = {{ (case.refinement_value * 128 / 176) | int }}           # number of zones in X2-direction
x2min  = 0.0           # minimum value of X2
x2max  = 6.28318530718 # maximum value of X2
ix2_bc = periodic      # inner-X2 boundary condition flag
ox2_bc = periodic      # outer-X2 boundary condition flag

nx3    = 1             # number of zones in X3-direction
x3min  = -0.5          # minimum value of X3
x3max  = 0.5           # maximum value of X3
ix3_bc = periodic      # inner-X3 boundary condition flag
ox3_bc = periodic      # outer-X3 boundary condition flag

<meshblock>
nx1 = {{ case.refinement_value | int }}           # MeshBlock size in X1-direction
nx2 = {{ (case.refinement_value * 128 / 176) | int }}           # MeshBlock size in X2-direction
nx3 = 1             # MeshBlock size in X3-direction

<hydro>
gamma  = 1.3           # ratio of specific heats
dfloor = 1e-12         # density floor
pfloor = 1e-10         # pressure floor

<problem>
r_center = 1.0         # radius of the torus density maximum
C_prime  = 0.2         # torus thickness parameter (0 < C_prime < 0.5)
nu_iso   = 0.0         # isotropic kinematic viscosity; set to 0.0 for inviscid control run
alpha    = 0.0         # Shakura-Sunyaev viscosity parameter; set to 0.0 for inviscid control run

rho_atm      = 0.0001  # ambient medium density
t_atm_frac   = 1       # ambient p/rho, in units of the torus mid-plane value
visc_rho_cut = 0.001   # density below which viscosity is tapered to zero

M_bh     = 4.5e+07     # black hole mass [M_sun]
rho_0    = 1e-13       # reference density [g/cm^3]
T_0      = 50000       # reference temperature [K]
mu       = 2.3         # mean molecular weight
chi      = 500         # spatial scaling factor r_0 / r_g
